@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
/* FONTS */

:root {
  --ff: ;
  --clrSecondary: rgb(99, 182, 197);
  --clrPrimary: rgb(33, 210, 241);
  --trans: all 0.4s linear;
  --radius: 0.3rem;
  --spacing: 0.3rem;
  --shadowLight: 0px 5px 10px rgba(138, 136, 136, 0.507);
  --shadowDark: 0px 5px 15px rgba(138, 136, 136, 0.507);
  --ff: "Open Sans", sans-serif;
  --white: #fdfdfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff);
  background: rgb(219, 219, 219);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.7rem;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.6rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

a {
  text-decoration: none;
}

/* Global Styles */

.btn {
  color: var(--white);
  background: transparent;
  transition: var(--trans);
  font-size: 1.4rem;
  padding: 1rem 2.5rem;
  margin: 1rem;
  cursor: pointer;
}

.btn:hover {
  color: var(--clrPrimary);
  background: var(--white);
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: green;
  height: 617px;
  border: none;
}
/* End of Global Styles */

/* Header */
.header {
  width: 100%;
  border: none;
}

/* End of Header */

/* Section 2 */
/* End of Section 2 */

/* Section 3 */
/* End of Section 3 */

/* Section 4 */
/* End of Section 4 */

/* Section 5 */
/* End of Section 5 */

/* Section 6 */
/* End of Section 6 */

/* Section 7 */
/* End of Section 7 */

/* Footer */
/* End of Footer */
